

.grid {
  width: 500px;
}

#grid-elementa {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}

#grid-elementb {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}


#grid-elementc {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}

#grid-elementd {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}

#grid-elemente {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}

#grid-elementf {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}

#grid-elementg {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}

#grid-elementh {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}

#grid-elementi {
  width: 100px;
  height: 100px;
  display:inline-block;
  border: solid;
}